.cart__container {
    align-content: center;
    flex-wrap: wrap;
    width: 95%;
    min-height: 70vh;
    gap: 5%;
    margin: auto;
}

.cart__item-container {
    align-items: center;
    gap: 1rem;
    flex-basis: 70%;
}

.cart__heading {
    flex-basis: 100%;
}

.empty__title{
    padding:2rem;
    text-align: center;
}